@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    width: 90%;
    margin: auto;
    font-size: 1em;
    padding: 1em;
    background-color: rgb(255, 252, 153);
}

#output{
    font-family: 'Times New Roman';
    font-size: 1.2em;
    line-height: 2em;
}

.response{
    background-color: #EBCFC4;
    padding: 10px;
}

footer{
    text-align: center;
    padding-top: 1em;
}

footer>p>a:link, footer>p>a:visited{
    color: rgb(248, 147, 29);

}

main{
    background-color: white;
    padding: 1.5em;
}

#source{
    width: 300px;
}

#date{
    width: 75px;
}

#locate{
    width: 150px;
}

#container{
    width: 200px;
}

#cite-button{
    width: 20%;
    height: 30px;
    position: absolute;
    left: 40%;
    background-color: #cf2e2e;
    transition-duration: 0.2s;
    border-radius: 12px ;
    color: white;
}

#cite-button:hover{
    background-color: #902020;
}

#cite-button:active{
    border-style: inset;
}

#contributors{
    width: 200px;
}

.required-field{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.suggested-field{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h3{
    font-weight: bolder;
}

/* For laptop interface */
@media (min-width: 1000px){
    body{
        width: 70%;
        margin: auto;
    }

    p, label{
        font-size: 1.3em;
    }

    h3{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.7em;
    }
}