@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    width: 90%;
    margin: auto;
    font-size: 1em;
    padding: 1em;
}

#output{
    font-family: 'Times New Roman';
    font-size: 1.2em;
    line-height: 2em;
}

.response{
    background-color: #EBCFC4;
    padding: 5px;
}

footer{
    text-align: center;
    padding-top: 1em;
}

footer>p>a:link, footer>p>a:visited{
    color: rgb(248, 147, 29);

}

main{
    background-color: rgb(255, 252, 153);
    padding: 1em;
}

#source{
    width: 300px;
}

#date{
    width: 75px;
}

#locate{
    width: 150px;
}

#cite-button{
    width: 80%;
    height: 25px;
}

#contributors{
    width: 200px;
}